.contacts {
  margin-top: 120px;
  @media screen and (max-width: 769px) {
    margin-top: 40px;
  }

  &__icons {
    display: flex;
    gap: 25px;
    margin: 20px 0;
    a {
      cursor: pointer;
    }
    img {
      width: 30px;
    }
  }
}
.contacts-wrapper {
  display: flex;
  justify-content: center;
  gap: 68px;
  padding: 0 43px;
  @media screen and (max-width: 769px) {
    flex-direction: column;
    padding: 0;
    .photo-person {
      display: none;
    }
  }
}

.contacts-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section-head-circle--margin {
  text-align: left;
  margin-top: 6px;
  margin-left: 12px;
  &::before {
    top: -6px;
    left: -12px;
    transform: translate(0);
  }
}

.section-headtext--align {
  text-align: left;
  margin-bottom: 4px;
}

.section-line--margin {
  margin: 0;
  margin-bottom: 20px;
}

.text-info {
  font-size: 14px;
  font-weight: 700;
}

.testInput {
  &::before {
    content: 'Ваше имя';
  }
}

.input {
  width: 100%;
}

.contacts-form {
  flex-grow: 1;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 45px 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  @media screen and (max-width: 769px) {
    grid-template-rows: 45px 143px auto 45px;
  }

  button {
    grid-area: 4 / 1 / 4 / 3;
    max-width: 219px;
    @media screen and (max-width: 769px) {
      margin: 0 auto;
    }
  }
  .label-rules {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-area: 3 / 1 / 4 / 3;
    span,
    a {
      font-weight: 500;
      font-size: 12px;
    }
    @media screen and (max-width: 769px) {
      margin: 0 auto;
      max-width: 180px;
    }
  }

  .label-message {
    grid-area: 2 / 1 / 3 / 3;
    resize: none;
  }

  .contacts-input {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 500;
    padding: 13px 20px;
  }
  .contacts-label {
    position: relative;
  }
  .input-tip {
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    padding: 0 8px;
    background-color: #fff;
    left: 12px;
    top: -9px;
  }
}

.contacts-input-resize {
  resize: none;
}

.errorText {
  font-size: 12px;
  color: red;
}
