$main-orange: #ffa501;
@mixin big-circle {
  content: '';
  display: inline-block;
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: $main-orange;
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

button {
  background: $main-orange;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 26px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.section-headtext {
  text-align: center;
  font-size: 36px;
  line-height: 167%;
  margin-bottom: 25px;
  margin-top: 6px;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.section-line {
  margin: 0 auto;
  display: block;
  background-color: $main-orange;
  width: 60px;
  height: 2px;
}

.section-head-circle {
  position: relative;
  text-align: center;
  margin-top: 126px;
  &::before {
    @include big-circle();
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (max-width: 769px) {
    margin-top: 46px;
  }
}
